// ---------------------------------------------------------------------
//  Mixins
// ---------------------------------------------------------------------

@mixin opacity-hover($opacity) {
    transition: opacity $transition;
    .no-touch &:hover {
        opacity: $opacity;
    }
}

@mixin flex-v-center {
    display: flex;
    align-items: center;

    > .container {
        margin: 0;
    }
}

@mixin flex-vh-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
