// ---------------------------------------------------------------------
//  SCSS Settings
// ---------------------------------------------------------------------


// ----------------------------------------
// Fonts
// ----------------------------------------

// Font weights: 300, 400, 500, 700
$sans-serif: "Gotham A", "Gotham B", Calibri, Meta, 'Open Sans Condensed', sans-serif;


// ----------------------------------------
// Font Size/ Line Height
// ----------------------------------------
$main-font: $sans-serif;
$base-font-size: 1.8rem;
$base-line-height: 1.6;


// ----------------------------------------
// Global Variables
// ----------------------------------------

$padding: 48px;
$transition-speed: 0.4s;
$transition: $transition-speed ease;

// $wrapper-percentage: 92%;
// $wrapper-width: 1128px;
// $wrapper-padding: (100% - $wrapper-percentage) / 2;
