// ---------------------------------------------------------------------
//  TYPE STYLES
// ---------------------------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    display: block;
    letter-spacing: .4px;
}

h6, .h6 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.display-1 {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.display-2 {
    letter-spacing: .4px;
    line-height: 1.7;

    @include media-breakpoint-down(sm) {
        font-size: 1.333rem;
        line-height: 1.2;
    }
}

p {
    font-weight: 300;
}

.text-legal {
    font-size: 0.6667rem;
    color: #AEAEAE;
}

@include media-breakpoint-down(sm) {
    .display-1 {
        font-size: 2rem;
    }

    .p-lg {
        font-size: 0.8889rem;
    }
}

.font-weight-light  {
    font-weight: 200;
}

.font-weight-medium  {
    font-weight: 500;
}

.text-xs {
    font-size: $font-size-xs;
}

.text-sm {
    font-size: $font-size-sm;
}

.text-lg {
    font-size: $font-size-lg;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-white {
    color: #FFFFFF;
}

.text-secondary {
    color: $brand-secondary;
}

.text-support {
    color: $brand-support;
}
