// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.


// Table of Contents
//
// Options
// Colors
// Spacing
//// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Typography
// Components

// -----------------------------------------
// Options
// -----------------------------------------
$enable-flex:               true !default;
$enable-rounded:            false !default;
$enable-transitions:        true !default;


// -----------------------------------------
// Colors
// -----------------------------------------
$gray-dark:                 #4A4A4A !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #B7B7B7 !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #42AF29 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #00AEC7 !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;
$brand-secondary:           #563D82 !default;
$brand-support:             #DC582A !default;


// -----------------------------------------
// Spacing
// You can add more entries to the $spacers
// map, should you need more variation.
// -----------------------------------------
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  4: (
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  ),
  5: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  )
) !default;
$border-width: 1px !default;

// -----------------------------------------
// Links
// -----------------------------------------
$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 10%) !default;
$link-hover-decoration: underline !default;


// ---------------------------------------------------------------
// Grid Breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
// ---------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// ---------------------------------------------------------------
// Grid Breakpoints
// Define the maximum width of `.container` for different screen sizes.
// ---------------------------------------------------------------
$container-max-widths: (
  sm: 576px,
  md: 738px,
  lg: 962px,
  xl: 1170px
) !default;

// ---------------------------------------------------------------
// Grid Columns
// Set the number of columns and specify the width of the gutters.
// ---------------------------------------------------------------
$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;
$grid-gutter-width: 15px !default;


// ---------------------------------------------------------------
// Typography
// Font, line-height, and color for body text, headings, and more.
// ---------------------------------------------------------------
$font-family-sans-serif: "Gotham A", "Gotham B", Calibri, Meta, 'Open Sans Condensed', sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 18px !default;

$font-size-base: 1rem !default;
$font-size-lg:   1.111rem !default; //20px
$font-size-sm:   0.8889rem !default; //16px
$font-size-xs:   0.7778rem !default; //14px

$line-height-base: 1.5 !default; //was 1.7778

$font-size-h1: 1.889rem !default; //34px
$font-size-h2: 1.556rem !default; //28px
$font-size-h3: 1.333rem !default; //24px
$font-size-h4: 1.111rem !default; //20px
$font-size-h5: 1rem !default; //18px
$font-size-h6: 0.8889rem !default; //16px

$display1-size: 2.333rem !default; //42px
$display2-size: 1.889rem !default; //34px
$display3-size: 1.556rem !default; //28px
$display4-size: 1.333rem !default; //24px

$display1-weight: 400 !default;
$display2-weight: 700 !default;
$display3-weight: 500 !default;
$display4-weight: 500 !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

$lead-font-size:   1.111rem !default;
$lead-font-weight: 300 !default;

$blockquote-small-color:  $gray-light !default;
$blockquote-font-size:    ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;
$blockquote-border-width: .25rem !default;

$hr-border-color: rgba(0,0,0,.1) !default;
$hr-border-width: $border-width !default;


// ---------------------------------------------------------------
// Components
// Define common padding and border radius sizes and more.
// ---------------------------------------------------------------
$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$list-inline-padding: 5px !default;

$border-radius:          .83rem !default;
$border-radius-lg:       1.25rem !default;
$border-radius-sm:       .45rem !default;

$component-active-color: #fff !default;
$component-active-bg:    $brand-primary !default;


// -----------------------------------------
// Buttons
// -----------------------------------------
$btn-line-height:                2.556rem !default;
$btn-font-weight:                500 !default;

$btn-padding-x:                  1.667rem !default;
$btn-padding-y:                  0rem !default;

$btn-padding-x-sm:               .5rem !default;
$btn-padding-y-sm:               .25rem !default;

$btn-padding-x-lg:               1.5rem !default;
$btn-padding-y-lg:               .75rem !default;


$btn-border-radius:              1.5rem !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;


$btn-block-spacing-y:            .5rem !default;
$btn-toolbar-margin:             .5rem !default;


// -----------------------------------------
// Cards
// -----------------------------------------
$card-spacer-x:            1.25rem !default;
$card-spacer-y:            1.111rem !default;

$card-border-width:        0 !default;
$card-border-radius:       0.7778rem !default;
$card-border-color:        rgba(0,0,0,.125) !default;
$card-border-radius-inner: $card-border-radius !default;

$card-cap-bg:              #f5f5f5 !default;
$card-bg:                  #fff !default;

$card-link-hover-color:    #fff !default;

$card-img-overlay-padding: 1.25rem !default;

$card-deck-margin:         1.35rem !default;

$card-columns-sm-up-column-gap: 1.25rem !default;


// -----------------------------------------
// Media Objects
// -----------------------------------------
$media-margin-top:            15px !default;
$media-heading-margin-bottom:  5px !default;
$media-alignment-padding-x:   10px !default;
