// ---------------------------------------------------------------------
//  CONTAINER STYLES
// ---------------------------------------------------------------------

.container {
    @include media-breakpoint-down(xs) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
