// ---------------------------------------------------------------------
//  FLEXBOX GLOBAL STYLES
// ---------------------------------------------------------------------


// ----------------------------------------
// Ordering
// ----------------------------------------
.flex-order-xs-first {
    order: -1;
}

@include media-breakpoint-up(sm) {
    .flex-order-sm-first {
        order: -1;
    }
}

@include media-breakpoint-up(md) {
    .flex-order-md-first {
        order: -1;
    }
}

@include media-breakpoint-up(lg) {
    .flex-order-lg-first {
        order: -1;
    }
}

// ----------------------------------------
// Centering
// ----------------------------------------
.flex-v-center {
    @include flex-v-center;
}

.flex-vh-center {
    @include flex-vh-center;
}
