// ---------------------------------------------------------------------
//  FOOTER STYLES
// ---------------------------------------------------------------------

.site-footer {
    padding: 1.5rem 0;

    @include media-breakpoint-up(md) {
        padding: 2.333rem 0 4.444rem;
    }
}

.newsletter {
    margin-bottom: 1.944rem;

    @include media-breakpoint-up(lg) {
        margin-top: .222rem;
    }
}
