// ---------------------------------------------------------------------
//  SITE HEADER STYLES
// ---------------------------------------------------------------------

.site-header {
    position: relative;
    z-index: 2;
}

.site-header .container.first {
    @include media-breakpoint-down(sm) {
        position: relative;
        margin: 1.111rem auto;
    }
}

.site-header__nav-toggle,
.site-header__search-toggle {
    cursor: pointer;
    position: absolute;
    width: 44px;
    height: 44px;
    padding: 0;
}

.site-header__nav-toggle {
    left: .7rem;
    top: 0.1111rem;
}

.site-header__search-toggle {
    right: .87778rem;
    top: 0.28889rem;
}

.site-header__brand {
    display: block;
    width: 175px;
    height: 49px;
    margin: 0 auto;

    > img {
        width: 100%;
        display: block;
    }

    @include media-breakpoint-up(md) {
        display: inline-block;
        margin: 1.667rem 0 0 0;
        width: 240px;
        height: 66px;
    }
}

@include media-breakpoint-down(sm) {
    .collapse-nav {
        background-color: #FFFFFF;
    }

    .mobile-nav {
        padding: 1.111rem 0;

        &.in {
            display: flex;
            flex-direction: column;
        }

        > * {
            width: 183px;
            margin-left: auto;
            margin-right: auto;
        }

        .nav-item {
            padding-bottom: 0.6667rem;
        }

        .navbar-primary, .navbar-secondary {
            margin-bottom: 1.111rem;
        }
    }
}

@include media-breakpoint-up(md) {
    .collapse-nav {
        display: block;
        height: auto !important;
    }
}
