// ---------------------------------------------------------------------
//  BACKGROUND STYLES
// ---------------------------------------------------------------------

// -----------------------------------------
// Adjust image to match height of adjacent
// -----------------------------------------
@mixin bg-cover {
    position: relative;
    overflow: hidden;

    .bg-cover__img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            position: absolute;
            width: auto;
            min-width: 100%;
            height: auto;
            min-height: 101%;
            max-width: none;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
}

.bg-cover {
    @include bg-cover;
}

@include media-breakpoint-up(md) {
    .bg-cover--after-sm {
        @include bg-cover;
    }
}

.bg-cover--after-sm {
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-down(sm) {
        .bg-cover__img img {
            width: 100%;
            height: auto;
        }
    }
}

.bg-cover__img {
    margin: 0; //ensure this element never has a margin
}

// -----------------------------------------
// Sold Background variants w/ patterns at
// specified opacity
// -----------------------------------------

@mixin bg-pattern-opacity($opacity) {
    position: relative;
    &.bg-pattern::before {
        background-image: url('../images/dd-pattern.png');
        background-repeat: repeat;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: $opacity;
    }
}

.bg-primary {
    background-color: $brand-primary;
}

.bg-secondary {
    background-color: $brand-secondary;
    @include bg-pattern-opacity(0.7);
}

.bg-info {
    background-color: $brand-info;
}

.bg-support {
    background-color: $brand-support;
}

.bg-pattern-circles {
    background-image: url('../images/pattern-bubble.png');
    background-repeat: repeat;
}
