// ---------------------------------------------------------------------
//  BUTTON STYLES
// ---------------------------------------------------------------------

.scroll-to  {
    position: absolute;
    bottom: 0.7778rem;
    left: 0;
    width: 100%;
    height: 44px;

    @include media-breakpoint-up(lg) {
        bottom: 1.556rem;
    }
}

.btn-scroll-to {
    cursor: pointer;
    width: 44px;
    height: 44px;

    .no-touch &:hover svg {
        transition: all $transition;
        transform: translateY(5px);
    }
}

.btn {
    border-width: 4px;
    border-radius: $btn-border-radius;
    font-size: 0.7778rem;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: all $transition;

    .no-touch &.shape-inline:hover svg {
        fill: #FFFFFF;
        transition: all $transition;
    }
}

.btn-inline {
    .btn + .btn {
        margin: 1rem 0 0 0;

        @include media-breakpoint-up(sm) {
            margin: 0 0 0 1rem;
        }
    }
}

.btn-primary {
    .no-touch &:hover,
    &:focus,
    &:active {
        border-color: darken($brand-primary, 10%);
    }
}

.btn-info {
    .no-touch &:hover,
    &:focus,
    &:active {
        border-color: darken($brand-info, 10%);
    }
}

.btn-secondary {
    .no-touch &:hover,
    &:focus,
    &:active {
        border-color: darken($brand-secondary, 10%);
    }
}

.btn-support {
    .no-touch &:hover,
    &:focus,
    &:active {
        border-color: darken($brand-support, 10%);
    }
}

.btn-card {
    .card-inverse & {
        background-color: rgba(255,255,255,.3);
        color: #FFFFFF;
    }

    .no-touch &:hover {
        background-color: rgba(255,255,255,1);
    }

    .no-touch .card-primary &:hover {
        color: $brand-primary;
    }

    .no-touch .card-secondary &:hover {
        color: $brand-secondary;
    }

    .no-touch .card-support &:hover {
        color: $brand-support;
    }

    .no-touch .card-info &:hover {
        color: $brand-info;
    }
}

.btn-search {
    border: 0 none;
    background: transparent;
    padding: 0;

    @include media-breakpoint-up(md) {
        svg {
            fill: #FFFFFF;
        }
    }
}

.hr-btn {
    position: relative;

    &::before {
        content: '';
        height: 1px;
        width: calc(100% - 185px);
        position: absolute;
        left: 0;
        top: 27px;
        background: #DEDEDE;
    }
}
