// ---------------------------------------------------------------------
//  CARD STYLES
// ---------------------------------------------------------------------

@include media-breakpoint-up(md) {
    .card,
    .card-deck {
        margin-bottom: 2.778rem;
    }
}

.no-touch .card-deck .card:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    text-decoration: none;
    transition: all $transition;
}

.card-rounded {
    border-radius: $card-border-radius;

    @include media-breakpoint-down(xs) {
        &.card-xs-fluid {
            border-radius: 0;
        }
    }
}

.card-support {
    background-color: $brand-support;
}

.card-secondary {
    background-color: $brand-secondary;
}

// -----------------------------------------
// Card Layout
// -----------------------------------------
.card-block {
    padding: 2.222rem 1.333rem;

    @include media-breakpoint-up(md) {
        padding: 2.7778rem 1.667rem;
    }
}

.card-icon {
    width: auto;
    height: 50px;
    margin-bottom: 1.557rem;

    @include media-breakpoint-down(sm) {
        &.card-icon-overlay {
            margin-top: -95px;
        }
    }

    .card-fluid &.card-icon-overlay {
        margin-bottom: 0;
    }
}

.card-subtitle {
    margin-top: 0;
}

.card-title {
    line-height: 1.58;
    margin-bottom: 0.7778rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 1.222rem;
    }

    .card-subtitle + & {
        margin-top: 0.4rem;
    }
}

.card-text + .btn-card {
    margin-top: 0.2222rem;

    @include media-breakpoint-up(md) {
        margin-top: .6667rem;
    }
}

.card-inverse {
    .card-subtitle {
        color: rgba(255,255,255,.3);
    }
}


// -----------------------------------------
// Card Deck
// -----------------------------------------
.card-deck {
    @include media-breakpoint-down(xs) {
        > .card-rounded {
            width: calc(100% + 20px);
        }

        > .card-rounded:nth-child(odd) {
            //transform: translateX(20px);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        > .card-rounded:nth-child(even) {
            transform: translateX(-20px);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &::after {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        .card {
            position: relative;
        }

        .card-block {
            margin-bottom: 3.6667rem;
        }

        .btn-card {
            position: absolute;
            bottom: 2.7778rem;
            left: 1.667rem;
        }
    }

    @include media-breakpoint-up(lg) {
        .card {
            margin-left: 1.35rem;
            margin-right: 1.35rem;
        }
    }
}

// -----------------------------------------
// Card Fluid
// -----------------------------------------
.card-fluid {
    .card-block {
        padding: 1.5rem 0.6667rem 2.222rem;

        @include media-breakpoint-up(lg) {
            padding: 4.222rem 2.889rem;
        }
    }

    .card-icon {
        @include media-breakpoint-up(md) {
            margin-bottom: 2.111rem;
        }
    }

    .card-icon-logo {
        height: 26px;
    }

    .card-title {
        .card-subtitle + & {
            margin-top: 0.7rem;
        }
    }

    .card-text + .btn-card {
        @include media-breakpoint-up(md) {
            margin-top: .777rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .card-xs-fluid {
        margin-left: -20px;
        margin-right: -20px;
    }
}

// -----------------------------------------
// Card Strip
// -----------------------------------------
.card-strip {
    @include media-breakpoint-up(md) {
        .card-block {
            padding: 1.667rem;
        }

        .card-block > * {
            display: inline-block;
            vertical-align: middle;
            margin-top: 0.333rem;
            margin-bottom: 0.333rem;
        }

        .card-icon,
        .card-title {
            margin-bottom: 0;
        }

        .card-icon {
            margin-right: 0.8333rem;
        }
    }

    @include media-breakpoint-up(lg) {
        .btn-card {
            float: right;
        }
    }
}

// -----------------------------------------
// Card Background Pattern
// -----------------------------------------
.card-bg-pattern {
    position: relative;

    &::before {
        content: '';
        background-image: url('../images/dd-pattern.png');
        background-repeat: repeat;
        background-position: 0 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        //z-index: -1;
    }

    &.card-secondary::before {
        opacity: 0.6;
    }
}


// -----------------------------------------
// Card Background Image
// -----------------------------------------
.card-bg-img {
    background-image: url('../images/bg-img-card.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &.card-strip {
        @include media-breakpoint-up(md) {
            background-image: url('../images/bg-img-strip.jpg');
        }
    }

    &.card-info::after {
        background-color: rgba($brand-info, .8);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &.card-rounded::after {
        border-radius: $card-border-radius;
    }

    @include media-breakpoint-only(xs) {
        &.card-rounded.card-strip::after {
            border-radius: 0;
        }
    }

    .card-block {
        position: relative;
        z-index: 1;
    }
}

// -----------------------------------------
// Card Post Preview
// -----------------------------------------
.card-post-preview {

    .card-img-top {
        margin-bottom: 2.126em;
    }

    .card-block {
        padding: 0;
    }

    .card-subtitle + .card-title {
        margin-top: 0.6rem;
    }

    .card-title {
        margin-bottom: .8rem;
    }

    .card-title:hover,
    .link-more:hover {
        text-decoration: none;
    }

}

// -----------------------------------------
// Card Step
// -----------------------------------------
@include media-breakpoint-up(md) {
    .card-step-list {
        > * {
            padding-left: 0;
            padding-right: 0;
        }

        > *:first-child .card-step::after,
        > *:last-child .card-step::after {
            width: 50%;
        }

        > *:first-child .card-step::after {
            left: auto;
            right: 0;
        }
    }
}

.card-step {
    @include media-breakpoint-up(md) {
        position: relative;
        margin-bottom: 0;

        &::after {
            background: $gray-lighter;
            content: '';
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            height: 1px;
            z-index: 1;
        }
    }

    @include media-breakpoint-up(lg) {
        &::after {
            top: 100px;
        }
    }

    .card-step-circle {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 2;

        @include media-breakpoint-only(md) {
            width: 160px;
            height: 160px;
            border-radius: 160px;
        }
    }

    .card-block {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}
