// ---------------------------------------------------------------------
//  Dropdown Styles
// ---------------------------------------------------------------------

$dropdown-height: 58px;
$dropdown-bg: #FFFFFF;

$dropdown-text-color: $gray-dark;
$dropdown-icon-color: $gray-dark;

$dropdown-hover-bg: $gray-lighter;
$dropdown-hover-text-color: #000000;


.dropdown {
    position: relative;
    z-index: 2;
    //max-width: 360px;
    width: 100%;
    cursor: pointer;
    min-height: $dropdown-height;

    &.is-active {
        z-index: 4;
    }
}


// ----------------------------------------
// Icon
// ----------------------------------------

.dropdown__icon {
    position: absolute;
    height: $dropdown-height;
    top: 0;
    right: 0;
    width: 60px;
    z-index: 4;
    display: flex;
    align-items: center;

    svg {
        display: block;
        fill: $dropdown-icon-color;
        margin: 0 auto;
    }
}


// ----------------------------------------
// List
// ----------------------------------------

.dropdown__list {
    overflow: hidden;
    position: absolute;
    z-index: 3;
    width: 100%;
    padding: 0 60px 0 50px;
    max-height: $dropdown-height;
    background: $dropdown-bg;
    color: $dropdown-text-color;
    border: 1px solid $gray-lighter;
    transition: max-height $transition;

    &.rounded {
        border-radius: 28px;
    }

    > * {
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        max-height: 0;
        height: $dropdown-height;
        transition: max-height $transition;
    }

    > * > * {
        display: block;
        width: 100%;
        line-height: 1;
        //line-height: $dropdown-height;
        padding-right: 18px;
        transition: all $transition;
        color: $dropdown-text-color;
    }

    .dropdown.is-active & {
        max-height: 1000px;

        > * {
            max-height: $dropdown-height;
        }

        > * > *:hover {
            color: $dropdown-hover-text-color;
        }
    }
}


// ----------------------------------------
// Current Selected Item
// ----------------------------------------

.dropdown__list .is-active {
   max-height: $dropdown-height;
   transition: all $transition;

   &:hover {
        color: $dropdown-hover-text-color;
    }
}



@include media-breakpoint-only(md) {
    .dropdown.dropdown--before--md {
        max-width: 100%;
        background: transparent;

        .dropdown__list {
            position: relative;
            max-height: none;
            background: transparent;
            box-shadow: none;
            display: flex;

            > * {
               max-height: none;
            }

           > * > * {
               height: auto;
               padding: 2px 0;
               display: block;

                &:hover {
                    background: transparent;
                }
           }
        }

        .dropdown__list .is-active {
            max-height: auto;
            background: $dropdown-bg;
        }

        .dropdown__list > *:first-child,
        .dropdown__icon {
            display: none;
        }
    }
}
