// ---------------------------------------------------------------------
//  FORM STYLES
// ---------------------------------------------------------------------

input::placeholder,
.form-control::placeholder  {
    color: #B7B7B7; //$gray-lighter var not working?
    font-weight: 700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    opacity: 1;
}


.form-news {
    > * {
        display: inline-block;
    }

    input[type="text"] {
        border: 0;
        border-bottom: 2px solid #D5D5D5;
        padding-left: 0;
        width: calc(96% - 75px);
    }

    .btn {
        width: 75px;
        margin-left: 2%;
        padding-left: 0;
        padding-right: 0;

        @include media-breakpoint-down(sm) {
            font-size: 0;
            line-height: 0;
            width: 75px;
            height: 46px;
        }
    }

    @include media-breakpoint-up(md) {
        input[type="text"] {
            width: calc(65% - 35px);
        }

        svg {
            display: inline-block;
            padding-right: 5px;
            transform: translateY(5px);
        }

        .btn {
            width: 31%;
        }
    }
}
