// ---------------------------------------------------------------------
//  JUMBOTRON STYLES
// ---------------------------------------------------------------------

.jumbotron {
    margin-bottom: 1.111rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 2.778rem;
    }
}

.jumbotron-overlay {
    color: #FFFFFF;
    display: table;
    padding: 0;
    position: relative;
    width: 100%;

    .jumbotron-img {
        width: 100%;
        height: auto;
    }

    .jumbotron-overlay__bd {
        display: table-cell;
        vertical-align: middle;
        height: 432px;

        @include media-breakpoint-up(md) {
            height: 500px;
        }

        &-lg {
            height: 530px;

            @include media-breakpoint-up(md) {
                height: 570px;
            }
        }
    }
}

.jumbotron-under-nav {
    @include media-breakpoint-up(md) {
        //transform: translateY(-60px);
        z-index: 1;

        .jumbotron-img-overlay {
            margin-top: 60px;
        }
    }
}

.jumbotron-title {
    + .p-lg {
        margin-top: 0.5556rem;
    }

    + .btn,
    + .btn-inline {
        margin-top: 0.9rem;
    }
}

.jumbotron-subtitle {
    margin-bottom: 1.111rem;
}
