// ---------------------------------------------------------------------
//  MEDIA STYLES
// ---------------------------------------------------------------------

.img-rounded {
    border-radius: 0.7778rem; //14px
}

@include media-breakpoint-down(sm) {
    .media-sm-stack {
        display: block;

        > * {
            margin-bottom: 2rem;
        }
    }
}
