// ---------------------------------------------------------------------
//  NAV STYLES
// ---------------------------------------------------------------------

// ----------------------------------------
// Nav Toggler
// ----------------------------------------
.navbar-toggler {
    position: absolute;
}

@include media-breakpoint-up(md) {
    .nav-primary,
    .nav-tertiary {
        .nav-item {
          display: inline-block;
        }

        .nav-item + .nav-item,
        .nav-link + .nav-link {
          margin-left: $nav-item-inline-spacer;
        }
    }

    .nav-tertiary {
        .nav-link {
            color: #FFFFFF;
        }
    }
}

// ----------------------------------------
// Primary Nav
// ----------------------------------------
.nav-primary {
    @include media-breakpoint-up(md) {
        .nav-item + .nav-item {
            margin-left: 1.944rem;
        }

        .nav-link {
            position: relative;

            &::after {
                background-color: $brand-primary;
                content: '';
                position: absolute;
                bottom: -6px;
                left: 0;
                width: 100%;
                height: 0px;
                opacity: 0;
                transition: all $transition;
            }

            .no-touch &:hover {
                color: $brand-primary;
            }

            .no-touch &:hover::after {
                height: 4px;
                opacity: 1;
            }
        }

        .nav-item.active .nav-link::after {
            height: 4px;
            opacity: 1;
        }

    }
}

// ----------------------------------------
// Secondary Nav
// ----------------------------------------
.nav-secondary {
    @include media-breakpoint-up(md) {
        margin-left: -1.4rem; //for nav-item hover state

        .nav-item {
            float: left;

            &.active,
            .no-touch &:hover {
                background-color: $brand-primary;
            }

            a {
                color: #FFFFFF;
                display: block;
                height: 100%;
                line-height: 60px;
                padding: 0 1.4rem 0;
            }
        }

        .nav-item + .nav-item {
            margin-left: 0;
        }
    }
}

// ----------------------------------------
// Tertiary Nav
// ----------------------------------------
.nav-tertiary {
    .shape-inline > * + * {
        margin-left: 0;
    }

    @include media-breakpoint-down(sm) {
        .nav-link {
            color: $brand-info;
        }
    }

    @include media-breakpoint-up(md) {
        .nav-item + .nav-item {
            margin-left: 1.556rem;
        }

        .nav-link {
            opacity: 0.6;

            .no-touch &:hover {
                opacity: 1;
            }
        }
    }
}

// ----------------------------------------
// Footer Navs
// ----------------------------------------
.nav-footer-primary {
    font-weight: 700;
    font-size: 0.7778rem;
    letter-spacing: .4px;

    @include media-breakpoint-up(md) {
        font-size: 0.8889rem;
        margin-bottom: 3.3rem;
    }

    .nav-item {
        margin-bottom: .333rem;
    }
}

.nav-footer-secondary {
    font-weight: 500;
    font-size: 0.7778rem;
    letter-spacing: .4px;

    .nav-item {
        margin-bottom: .333rem;
    }

    .nav-link {
        color: $gray-dark;
    }

    @include media-breakpoint-up(md) {
        line-height: 1;
        margin-bottom: 1.333rem;

        .nav-item {
            display: inline-block;
            margin-bottom: 0;
        }

        .nav-item + .nav-item {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid $gray-dark;
        }
    }
}


.nav-social {
    @include media-breakpoint-down(sm) {
        margin: 1rem 0;
    }

    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-link {
        display: block;
    }

    svg {
        fill: $brand-primary;
        margin: 0 auto;
    }
}
