// ---------------------------------------------------------------------
//  NAVBAR STYLES
// ---------------------------------------------------------------------

.navbar-primary {
    @include media-breakpoint-up(md) {
        transform: translateY(-28px);
    }
}


.navbar-secondary {
    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    @include media-breakpoint-up(md) {
        background-color: rgba($brand-primary, 0.8);
        position: absolute;
        width: 100%;
        height: 60px;
        padding-top: 0;
        padding-bottom: 0;
    }
}


.navbar-tertiary {
    @include media-breakpoint-down(sm) {
        .navbar {
            padding: 0;
            border-radius: 0;
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

        .navbar {
            background-color: $brand-info;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            padding: 0.3333rem 1.556rem 0.4444rem;
        }
    }
}
