// ---------------------------------------------------------------------
//  PAGE INTRO STYLES
// ---------------------------------------------------------------------

.page-intro {
    margin: 2.222rem 0 2.444rem;

    @include media-breakpoint-up(lg) {
        margin: 6.9rem 0 6.3rem;
    }
}

.page-intro__media {
    @include media-breakpoint-up(md) {
        &.media-left {
            margin-right: 3.333rem;
            padding-right: 0;
        }

        &.media-right {
            margin-left: 3.333rem;
            padding-left: 0;
        }
    }
}

.page-intro__img {
    display: block;
    margin: 0 auto;
    max-width: 365px;
    width: 100%;
}

.page-intro__bd {
    font-size: 1.111rem;
    font-weight: 300;
    
    > *:last-child {
        margin-bottom: 0;
    }
}
