// ---------------------------------------------------------------------
//  REMOVE FOR PRODUCTION
// ---------------------------------------------------------------------

#__bs_notify__ {
    opacity: 0.1;
    bottom: 0 !important;
    top: auto !important;
    height: 50px;
}

body:after {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    content: 'Mobile';

    @include media-breakpoint-up(sm) {
        content: 'Small';
    }

    @include media-breakpoint-up(md) {
        content: 'Medium';
    }

    @include media-breakpoint-up(lg) {
        content: 'Large';
    }

    @include media-breakpoint-up(xl) {
        content: 'x-large';
    }
}
