// ---------------------------------------------------------------------
//  SEARCH STYLES
// ---------------------------------------------------------------------

.form-search {
    .form-control {
        background-color: transparent;
        border: 0 none;
        border-radius: 0;
        color: #FFFFFF;
        font-size: $font-size-sm;
        padding: .15rem .5rem .15rem 0;

        &::placeholder {
            color: #91CE85;
            font-weight: 500;
            letter-spacing: 1.6px;
            //text-align: right;
            text-transform: uppercase;
        }
    }
}

// ----------------------------------------
// Search Form - Small Screens
// ----------------------------------------
.searchbar {
    background-color: $brand-primary;
    height: 70px;
    padding: 1rem 0;

    .form-control {
        display: inline-block;
        width: calc(100% - 30px);
    }

    .btn-search {
        width: 24px;
        height: 24px;
    }
}

// ----------------------------------------
// Search Form - Larger Screens
// ----------------------------------------
.form-search {
    @include media-breakpoint-up(md) {
        margin-top: 0.998em;
        max-width: 190px;

        .form-control {
            max-width: 156px;
            vertical-align: top;

            &::placeholder {
                text-align: right;
            }
        }
    }
}
