// ---------------------------------------------------------------------
//  SVG SHAPE STYLES
// ---------------------------------------------------------------------

svg {
	display: block;
}

.shape {
	display: block;
}

.shape svg {
	//fill: $brand;
}

.shape-inline {
    display: inline-block;

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    svg {
        display: inline-block;
    }

    > * + * {
        margin-left: 5px;
    }
}

.shape-inline + .shape-inline {
    margin-left: 24px;
}

a.shape--inline {
    @include opacity-hover(0.4);
}
