// ---------------------------------------------------------------------
//  User Content Styles. WYSIWYG
// ---------------------------------------------------------------------

.user-content {
@include clearfix;

// ----------------------------------------
// Link Styles
// ----------------------------------------

a:link {
    color: $brand-primary;
    font-weight: 500;
    text-decoration: none;
    transition: color $transition;
}

a:visited,
a:active,
a:focus,
a:hover {
    opacity: 0.6;
}


// ----------------------------------------
// Sections
// ----------------------------------------
blockquote {
    margin-left: 8.33333%;
    padding-left: 27px;
    border-left: 3px solid $brand-primary;
}

} //end .user-content
